body {
  background-color: lightblue;
}
img  {
  width: 300px;
}
h1{
  text-align: center;
}
header{
  background-color: olive;
  padding: 20px;
  margin-bottom: 20px;
}
.image-gallery {
  display: flex;
  gap: 20px;
}
